.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: $light-red;
  width: 100%;
  justify-content: center;
  color: white;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  a {
    text-decoration: none;
    color: $yellow;
    font-weight: bolder;

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  color: $yellow;
  font-size: 3em;
}
